connect.php
composer-setup.php
composer.json
composer.lock
*.bak
*.sql
*.log
*.tmp
*~
*.swp
file/korea/uploads/
file/korea/del/*
!file/korea/del/del_profile.php
!file/korea/del/del_id_profile.php
!file/korea/del/del_file_form.php
